@charset "UTF-8";

#header {padding:50px 0; background-color: #99c; }
#main {padding: 50px 0; background-color: #c9c;}
#footer {padding: 50px 0; background-color: #9c9;}

h1 {font-size:100px; color: #000; text-align: center;}